body{
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
    min-height: 1000px;
    font-family: "helvetica neue";
}

footer{
    position: relative;
    color: darkslateblue;
    text-align: center;
    margin-top: 100%;
    flex: 0 0 auto;
}
